#intro{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin:2.4%;
  color: rgb(55, 53, 53);
  padding:30px;
  /* background-color: #969292; */
  background-color: ghostwhite;
  box-shadow: 1px 1px 8px 2px rgb(135, 129, 129);
  border:0.5px solid rgb(183, 149, 214);
  margin-top:3.4%;
}
#what{
  color:#0c0457;
}
#ans{
  margin-top:10px;
  font-size:1.1rem;
}
ul{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: brown;
  margin-top: 1rem;
  font-size:1.2rem;
}
li{
  color:rgb(55, 53, 53) ;
  font-size: 1.1rem;
}
h1{
  text-align: center;
  margin-top: 1.4rem;
  font-size: 1.8rem;
  text-decoration:underline;
}

/*Responsiveness */

@media (min-width:1024px) {
  .contain{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    align-content: center;
    gap:3%;
  }
  #c0{
    gap: 12%;
  }
  #c1{
    gap:16.5%;
  }
}